@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --spacing-xs: 5px;
    --spacing-sm: 10px;
    --spacing-md: 15px;
    --spacing-lg: 20px;
    --spacing-xl: 40px;
    --container-width: 1200px;
}

body, html {
    height: 100%;
    margin: 8px;
    margin-left: 72px;
    margin-right: 72px;
    font-family: 'Montserrat', sans-serif;
}

    .container {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(4, minmax(300px, 1fr));
        grid-template-rows: repeat(4, minmax(300px, 1fr));
        gap: 10px;        
    }

        /* Button to add a book to the library */
        #book-menu-open {
            position: absolute;
            top: 2%;
            right: 2%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            border: none;
            background-color: #033649;
        }

            #book-menu-open:hover {
                transition: .3s;
                background-color: #036564;
                transform: rotate(45deg);
            }

        .sign-up-field-background {
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }

            .sign-up {
                list-style: none;
                display: flex;
                flex-direction: column;
                border-radius: 10px;
                padding: 25px;
                gap: 10px;
                background-color: #E8DDCB;
                box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);;
            }

                label {
                    font-size: small;
                    font-weight: bold;
                }
                
                input, select {
                    font-family: 'Montserrat', sans-serif;
                    /* margin-bottom: 15px; */
                    padding: 5px;
                    height: 20px;
                    width: 250px;
                    border-radius: 5px;
                    border: 1px solid;
                    border-color: #d3d3d3;
                    transition: .3s;
                }

                    select {
                        height: 35px;
                        width: 262px;
                        border-color: #d3d3d3;
                        background-color: white;
                    }

                    #book-submit, #book-menu-close {
                        font-family: 'Montserrat', sans-serif;
                        font-weight: bold;
                        padding: 10px;
                        border-radius: 10px;
                        border: none;
                        box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 4px;
                        transition: .3s;
                        width: 262px;
                        height: 35px;    
                    }

                        #book-submit:hover, #book-menu-close:hover {
                            transition: .3s;
                            background-color: #036564;
                            color: white;
                        }
                
                input:hover {
                    transition: .3s;
                    border-color: #aaa;
                }
                
                input:focus {
                    outline: none;
                    border: 1px solid black;
                }

                li {
                    display: flex;
                    flex-direction: column;
                }

            .book-card {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                margin: 5px;
                padding: 10px;
                background-color: #E8DDCB;
                text-decoration: none;
                gap: 5px;
                box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 4px;
            }

                h3 {
                    margin: 5px;
                }    

                p {
                    margin: 0px;
                }

                .book-status {
                    margin: 5px;
                    padding: 15px;
                    border: black 1px;
                    border-radius: 5px;
                    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
                    transition: .3s;
                }

                    .book-status:hover {
                        transition: .3s;
                        background-color: #036564;
                        color: white;
                    }

                .card-close {
                    position: relative;
                    left: 45%;
                    bottom: 17%;
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                    border: none;
                    font-size: large;
                    font-weight: bold;
                    background-color: #E8DDCB;
                }

                    .card-close:hover {
                        /* transition: .05s; */
                        transform: scale(.95);
                    }

                    .card-close svg {
                        pointer-events: none;
                    }

    .container-popup {
        height: 100%;
    }