@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body, html {
    height: 100%;
    margin: 8px;
    margin-left: 72px;
    margin-right: 72px;
    font-family: 'Montserrat', sans-serif;
}

    .container {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 5px;        
    }

        /* Button to add a book to the library */
        #book-menu-open {
            position: absolute;
            top: 2%;
            right: 5%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            border: none;
            background-color: gray;
        }

        .sign-up-field-background {
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }

            .sign-up {
                list-style: none;
                display: flex;
                flex-direction: column;
                border-radius: 10px;
                padding: 10px;
                gap: 10px;
                background-color: gainsboro;
            }

            .book-card {
                border-radius: 10px;
                padding: 10px;
                background-color: gainsboro;
                text-decoration: none;
            }
    .container-popup {
        height: 100%;
    }