@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body, html {
    height: 100%;
    margin: 8px;
    margin-left: 72px;
    margin-right: 72px;
    font-family: 'Montserrat', sans-serif;
}

    .container {
        height: 100%;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;        
    }

        /* Button to add a book to the library */
        #book-menu-open {
            grid-column: 2 / 2;
            grid-row: 1 / 1;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            border: none;
            background-color: gray;
        }

        .sign-up-field-background {
            display: none;
            grid-column: 2 / 2;
            grid-row: 2 / 4;
        }

            .sign-up {
                list-style: none;
                display: flex;
                flex-direction: column;
                padding: 10px;
                gap: 10px;
            }

        .library-background {
            height: 100%;
            grid-column: 1 / 2;
            grid-row: 1 / 4;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            gap: 5px;
        }

            .book-card {
                border-radius: 10px;
                padding: 10px;
                background-color: gainsboro;
                text-decoration: none;
            }